<button type="submit"
        class="btn btn-primary rounded-0 {% for class in action.classes %}{{ class }}{% endfor %}"
        {% for attrKey,attrValue in action.attributes %}data-{{ attrKey }}="{{ attrValue }}"{% endfor %}
>
    {% if action.icon %}
        <i class="{{ action.icon }}"></i>
    {% endif %}
    {{ action.label }}
</button>