<div class="col-auto mb-2 position-relative">
    <input type="date"
           class="form-control form-control-sm rounded-0"
           id="filter-{{ filter.elemId }}"
           name="{{ filter.field }}"
           value="{{ filter.value }}"
           placeholder="{{ filter.label }}" aria-label="{{ filter.label }}">
</div>
